 /*selector de etiqueta*/
 h1{
    color:red;
}
h2{
    color:blue;
}
/*selector de clase */
oscuro{
    background-color: black;
    color:white;
}
/*selector id */
#Biografia{
    background-color:aqua;
    color:black;
}
/*selector id */
