body {
    font-family: 'Segoe UI', sans-serif;
    background-color: rgb(156, 156, 156);
}
header, footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 0.5rem;
}
nav {
    background-color: blue;
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
article {
 background-color: white;
 padding: 1rem;
 border-radius: 10px;
 margin-bottom: 1rem; 
} 
aside {
 background-color: white;
 padding: 1rem;
 border-left: 4px solid red;
}
th {
 background-color: rgb(192, 188, 188);
 }
 th, td {
 border: 1px solid black;
 padding: 0.5rem;
} 
table {
 width: 100%;
 border-collapse: collapse;
} 
img { 
max-width: 100%;
 margin-top: 1rem;
 border: 4px solid #f44336;
 border-radius: 8px;
 } 
 img {
 max-width: 100%;
 margin-top: 1rem;
 border: 4px solid #f44336;
 border-radius: 8px;
 }
 footer a {
  color: red;
  text-decoration: none;
 } 